.wrapper {
  display: flex;
  width: 1385px;
  height: 96px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  margin-left: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  width: 830px;
  height: 96px;
}
.navbarNav {
  display: flex;
  width: 542px;
  height: 19px;
  justify-content: space-between;
  text-transform: uppercase;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  padding-left: 0;
  font-family: 'Barlow Condensed', sans-serif;
  color: #ffffff;
  margin: 0;
}
.line {
  width: 473px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin-left: 64px;
  margin-right: -64px;
  z-index: 10;
}

.logoWrapper {
  height: 48px;
  width: 48px;
  position: relative;
}

.navItem:hover {
  border-bottom: rgba(255, 255, 255, 0.5) 3px solid;
  margin-bottom: -35px;
  mix-blend-mode: normal;
  cursor: pointer;
}

.hamburger {
  display: none;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger__inner::before {
  top: -8px;
}

.hamburger__inner::after {
  top: 8px;
}

.hamburger__inner::after,
.hamburger__inner::before {
  width: 100%;
  height: 3px;
  background-color: #d0d6f9;
  position: absolute;
  content: '';
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger__inner {
  width: 100%;
  height: 3px;

  position: absolute;
  background: #d0d6f9;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger,
.navigation {
  transition: transform 0.3s 0.1s ease-in-out;
}

.hamburger--active {
  transform: translateX(250px);
}

.hamburger__box {
  width: 24px;
  height: 21px;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    position: absolute;
    width: 729px;
    height: 96px;
    right: 0;
    top: 0px;
    padding: 0;
  }
  .line {
    display: none;
  }
  .navbar {
    width: 450px;
    height: 96px;
  }
  .navItem {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 2.3625px;

    color: #ffffff;
  }
  .navbarNav {
    margin: 0;
  }
  .navItemBold {
    display: none;
  }
  .navbarNav {
    width: 356px;
    height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 100;
  }
  /* .navbar {
    display: none;
  } */
  .wrapper {
    width: 100vw;
    padding: 24px;
  }
  .logoWrapper {
    width: 40px;
    height: 40px;
  }

  .navbar,
  .navbarOpen {
    position: absolute;
    width: 254px;
    height: 100vh;
    right: 0;
    top: 0px;
    z-index: 10;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    /* display: block; */
    transition: transform 0.5s ease-in-out;

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    transform: translateX(254px);
  }

  /* .navbar{
    display: none;
    
  } */
  .navbarNav {
    position: absolute;
    width: 100%;
    height: 172px;
    padding-left: 32px;
    left: 0;
    top: 118px;
    /* padding-top: 118px; */

    flex-direction: column;
    flex-wrap: wrap;
  }
  .navItemBold {
    display: inline-block;
  }
  .navItem {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }

  .navbarOpen {
    transform: translateX(0px);
  }

  .hamburgerActive .hamburger__inner {
    width: 100%;
    height: 3px;
    z-index: 100;
    position: absolute;
    background: #d0d6f9;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
  }

  .hamburgerActive .hamburger__inner:before {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburgerActive .hamburger__inner:after {
    transform: translateY(-8px) rotate(-45deg);
  }
}
