.main {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

.destinationSubheaderWrapper {
  position: absolute;
  width: 382px;
  height: 34px;
  left: 166.5px;
  top: 212px;
}

.destinationSubheader,
.destinationSubheaderBold {
  font-family: 'Barlow Condensed';
  font-style: normal;
  color: #ffffff;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
}

.destinationSubheader {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.destinationSubheaderBold {
  font-weight: 700;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin-right: 24px;
}

.crewMemberImageInfoContainer {
  position: absolute;
  width: 1138px;
  height: 654px;
  left: 165px;
  top: 198px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.crewMemberImageWrapper {
  position: relative;
  height: 654px;
  width: 550px;
  order: 2;
}

.crewMemberImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.memberInfoContainer {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  width: 488.5px;
  height: 406px;
  flex-direction: column;
}

.crewMemberRole,
.crewMemberName {
  font-family: 'Bellefair';
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
}

.crewMemberRole {
  height: 37px;
  font-size: 32px;
  line-height: 37px;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 0 0 15px 0;
}

.crewMemberName {
  width: 614px;
  height: 64px;
  font-size: 56px;
  line-height: 64px;
  margin: 0 0 27px 0;
}

.crewMemberBio {
  width: 444px;
  height: 128px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  margin: 0 0 120px 0;
}

.characterPickerWrapper {
  width: 132px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.characterPicker {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: 0.5s;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.17;
}

.characterPicker:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .destinationSubheaderWrapper {
    position: absolute;
    height: 24px;
    left: 38.5px;
    top: 136px;
  }
  .destinationSubheader {
    font-size: 20px;
    line-height: 24px;
  }

  .crewMemberImageInfoContainer {
    position: absolute;
    width: 592px;
    height: 804px;
    left: 50%;
    transform: translateX(-50%);
    top: 220px;
    flex-direction: column;
  }

  .memberInfoContainer {
    align-items: center;
    width: auto;
    height: 232px;

    text-align: center;
  }
  .crewMemberImageWrapper {
    width: 450px;
  }

  .crewMemberRole {
    margin: 0 0 8px 0;
    font-size: 24px;
    line-height: 28px;
  }
  .crewMemberName {
    margin: 0 0 16px 0;
    font-size: 40px;
    line-height: 46px;
  }
  .crewMemberBio {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 40px 0;
    width: auto;
  }
  .characterPickerWrapper {
    width: 88px;
    height: 10px;
  }
  .characterPicker {
    width: 10px;
    height: 10px;
  }
}
