.planetWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 327px;
  top: 139px;
  left: 50%;
  transform: translateX(-50%);
}

.planetImageWrapper {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 0 0 26px 0;
}

.planetInfoWrapper {
  text-align: center;
}

.planetInfoName {
  font-family: 'Bellefair';
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 20px 0 1px 0;
}

.planetInfoDescription {
  font-family: 'Barlow';
  font-size: 15px;
  line-height: 25px;
  color: #d0d6f9;
  margin: 0 0 32px 0;
}
.line {
  height: 1px;
  margin: 0 0 32px 0;
  border-color: #383b4b;
}

.distanceTravelTimeContainer {
  height: 154px;
  display: flex;
  margin: 0 0 58px 0;
  justify-content: space-between;
  flex-direction: column;
}

.averageDistanceHeader,
.averageTravelTimeHeader {
  font-family: 'Barlow Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #d0d6f9;
  margin: 0 0 12px 0;
}

.averageDistanceInfo,
.averageTravelTimeInfo {
  font-family: 'Bellefair';
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .planetWrapper {
    width: 573px;
    top: 220px;
  }
  .planetImageWrapper {
    width: 300px;
    height: 300px;
    margin: 0 0 53px 0;
  }

  .planetInfoName {
    font-size: 80px;
    line-height: 92px;
    margin: 32px 0 8px 0;
  }
  .planetInfoDescription {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 49px 0;
  }
  .line {
    margin: 0 0 28px 0;
  }
  .distanceTravelTimeContainer {
    flex-direction: row;
    height: 61px;
    justify-content: space-evenly;
  }
  .averageDistanceWrapper,
  .averageTravelTimeWrapper {
    width: 223px;
  }
}

@media screen and (min-width: 1024px) {
  .planetWrapper {
    min-width: 1024px;
    top: 310px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .planetImageWrapper {
    width: 445px;
    height: 445px;
    margin: 0;
    align-self: flex-end;
  }

  .planetInfoWrapper {
    text-align: left;
    width: 445px;
    height: 478px;
  }
  .planetInfoName {
    font-size: 100px;
    line-height: 115px;
    margin: 37px 0 14px 0;
  }
  .planetInfoDescription {
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 54px 0;
  }
  .distanceTravelTimeContainer {
    margin: 0;
    justify-content: unset;
  }
  .averageDistanceWrapper,
  .averageTravelTimeWrapper {
    width: 156px;
  }
  .averageDistanceWrapper {
    margin-right: 66px;
  }
}
