.main {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.textWrapper {
  position: absolute;
  left: 165px;
  top: 387px;
  width: 450px;
  height: 382px;
}

.subHeader {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #d0d6f9;
}

.header {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 24px 0;
}
.description {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}

.exploreHeader {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0b0d17;
  text-transform: uppercase;
  background: #ffffff;
  height: 274px;
  width: 274px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: rgb(255, 255, 255, 0.1) 88px solid;
}

.exploreWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 913px;
  top: 407px;
  width: 450px;
  height: 450px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.exploreWrapper:hover {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .textWrapper {
    position: absolute;
    width: 450px;
    height: 334px;
    left: 50%;
    top: 202px;
    transform: translateX(-50%);
  }
  .subHeader {
    position: absolute;
    height: 24px;
    left: 50%;
    transform: translateX(-50%);
    top: calc(50% - 24px / 2 - 155px);
    width: 100%;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 3.375px;

    color: #d0d6f9;
  }
  .header {
    position: absolute;
    height: 150px;
    left: 0%;
    right: 1.11%;
    top: calc(50% - 150px / 2 - 44px);

    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 150px;
    color: #ffffff;
  }
  .description {
    position: absolute;
    height: 112px;
    left: 0.67%;
    right: 0.67%;
    top: calc(50% - 112px / 2 + 111px);

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;

    color: #d0d6f9;
  }
  .exploreWrapper {
    position: absolute;
    width: 242px;
    height: 242px;
    left: 263px;
    top: 692px;
  }
  .exploreWrapper {
    opacity: 1;
    position: absolute;
    width: 242px;
    height: 242px;
    left: 50%;
    top: 692px;
    transform: translateX(-50%);
  }
  .exploreHeader {
    outline: none;
    height: 100%;
  }
}
