.main {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.textWrapper {
  position: absolute;
  left: 165px;
  top: 387px;
  width: 450px;
  height: 382px;
}

.subHeader {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #d0d6f9;
}

.header {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 24px 0;
}
.description {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}

.exploreHeader {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0b0d17;
  text-transform: uppercase;
  background: #ffffff;
  height: 274px;
  width: 274px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: rgb(255, 255, 255, 0.1) 88px solid;
}

.exploreWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 913px;
  top: 407px;
  width: 450px;
  height: 450px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.exploreWrapper:hover {
  opacity: 1;
}
