.main {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.textButtonContainer {
  display: flex;
  position: absolute;
  width: 327px;
  top: 112px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  left: 50%;
  transform: translateX(-50%);
}

.textWrapper {
  text-align: center;
  margin: 0 0 81px 0;
}
.subHeader,
.header,
.description {
  font-weight: 400;
}

.subHeader,
.header {
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.subHeader,
.description {
  color: #d0d6f9;
}
.subHeader {
  font-family: 'Barlow Condensed';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
}

.header {
  font-family: 'Bellefair';
  font-size: 80px;
  line-height: 100px;
  color: #ffffff;
}

.description {
  font-family: 'Barlow';
  font-size: 15px;
  line-height: 25px;
  margin: 0;
}

.exploreWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.exploreHeader {
  font-family: 'Bellefair';
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  color: #0b0d17;
}

@media screen and (min-width: 768px) {
  .textButtonContainer {
    width: 450px;
    top: 202px;
  }
  .textWrapper {
    margin: 0 0 156px 0;
  }
  .subHeader {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }
  .subHeader,
  .header {
    margin: 0 0 24px 0;
  }
  .header {
    font-size: 150px;
    line-height: 150px;
  }
  .description {
    font-size: 16px;
    line-height: 28px;
  }
  .exploreWrapper {
    width: 242px;
    height: 242px;
  }
  .exploreHeader {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1024px) {
  .textButtonContainer {
    width: 100%;
    padding-left: 165px;
    padding-right: 77px;
    flex-direction: row;
    top: 387px;
    height: 470px;
    justify-content: space-between;
    align-items: stretch;
  }
  .textWrapper {
    width: 450px;
    height: auto;
    text-align: left;
    margin: 0;
  }
  .subHeader {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }
  .header {
    font-size: 150px;
    line-height: 172px;
  }
  .description {
    font-size: 18px;
    line-height: 32px;
  }
  .exploreWrapper {
    align-self: flex-end;
    width: 274px;
    height: 274px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    opacity: 0;
    margin-bottom: 88px;
    margin-right: 88px;
    outline: rgb(255, 255, 255, 0.1) 0px solid;
  }
  .exploreWrapper:hover {
    opacity: 1;
    outline: rgb(255, 255, 255, 0.1) 88px solid;
  }
}
