.crewMemberImageInfoContainer {
  position: absolute;
  width: 100%;
  display: flex;
  top: 139px;
  flex-direction: column;
  text-align: center;
  @media screen and (min-width: 768px) {
    height: 707px;
    top: 220px;
    @media screen and (min-width: 1024px) {
      top: 272px;
      height: 527px;
      flex-direction: row;
      align-items: center;
      right: 0;
      text-align: left;
      justify-content: space-between;
    }
  }
  .crewMemberImageWrapper {
    height: 170px;
    position: relative;
    @media screen and (min-width: 768px) {
      height: 310px;
    }
    @media screen and (min-width: 1024px) {
      width: 515px;
      height: 527px;
      order: 10;
    }
  }
  .vehicleInfoWrapper {
    order: 2;
    @media screen and (min-width: 1024px) {
      flex-grow: 1;
      height: 303px;
    }
    .vehicleSubheader {
      font-family: 'Barlow Condensed';
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      margin: 0 0 9px 0;
      letter-spacing: 2.3625px;
      color: #d0d6f9;
      @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        margin-bottom: 16px;
      }
      @media screen and (min-width: 1024px) {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 11px;
      }
    }
    .vehicleName {
      font-family: 'Bellefair';
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 16px 0;
      text-transform: uppercase;
      color: #ffffff;
      @media screen and (min-width: 768px) {
        font-size: 40px;
        line-height: 46px;
      }
      @media screen and (min-width: 1024px) {
        font-size: 56px;
        line-height: 64px;
        margin-bottom: 17px;
      }
    }
    .vehicleDescription {
      font-family: 'Barlow';
      margin: 0 auto;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      width: 327px;
      color: #d0d6f9;
      @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 28px;
        width: 458px;
      }
      @media screen and (min-width: 1024px) {
        font-size: 18px;
        line-height: 32px;
        width: 444px;
        margin: 0;
      }
    }
  }
  .vehiclePickerWrapper {
    margin: 32px 0 26px 0;
    width: 152px;
    height: 40px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      width: 210px;
      height: 60px;
      margin: 56px 0 44px 0;
    }
    @media screen and (min-width: 1024px) {
      width: 80px;
      height: 304px;
      flex-direction: column;
      margin: 0 80px 0 0;
    }

    .vehiclePicker,
    .vehiclePickerActive {
      width: 40px;
      height: 40px;
      mix-blend-mode: normal;
      border: 1px solid rgb(255, 255, 255, 0.25);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (min-width: 768px) {
        width: 60px;
        height: 60px;
      }
      @media screen and (min-width: 1024px) {
        width: 80px;
        height: 80px;
        cursor: pointer;
      }
      .vehicleId,
      .vehicleIdActive {
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #ffffff;
        @media screen and (min-width: 768px) {
          font-size: 24px;
          line-height: 28px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 32px;
          line-height: 37px;
        }
      }
      .vehicleIdActive {
        color: #0b0d17;
      }
    }
    .vehiclePickerActive {
      border: none;
      background-color: #ffffff;
    }
  }
}
